@model IEnumerable<TAApplication.Models.Slot>

@{
    ViewData["Title"] = "Index";
}


@using Microsoft.AspNetCore.Identity
@using TAApplication.Areas.Data
@using Microsoft.EntityFrameworkCore;
@using TAApplication.Data
@inject SignInManager<TAUser> SignInManager
@inject UserManager<TAUser> UserManager
@inject ApplicationDbContext _context;

@{
    
}


<body>
    <main class="avai">
        @{
            var user = UserManager.Users.Where(u => u.Unid == User.Identity.Name.ToString()).ToArray();
        }
        <h3>Availability for @user.FirstOrDefault().Name</h3>
        <div id="canvas_div">
            <div class="loader">
            </div>
        </div>
        <button id="save" class="btn btn-primary" onclick="save('@user.FirstOrDefault().Id')">Save</button>
        <p class="warning">Warning: Changes NOT Saved</p>
    </main>
</body>

<script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pixi.js/6.2.0/browser/pixi.js"></script>
<script src="/js/Slots/Slots.js"></script>

