.main-charting {
    padding: 1rem;
}

.button {
    background-color: #008CBA; /* Green */
    border: none;
    color: white;
    padding: 2px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button:hover {
    background: linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
    background-color: #fb9e25;
}

.button:active {
    position: relative;
    top: 1px;
}
