/*
  Author:    Nasser Mughrabi
  File Contents:
    This is a CSS(stylesheet) file to design the look of the navbar on every html file
*/

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#navbar {
    background-color: #cc0000;
    height: 10vh;
}

.nav-items {
    color: white;
    margin: 10vh 1vw;
    font-size: 1.7rem;
}

.navbar-light .navbar-brand {
    margin: 0%;
    color: white;
}

.bg-red {
    background-color: #cc0000;
}


/* fontawesome bars icon */
.fa-solid {
    color: white;
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
}

.navbar-toggler {
    border: none;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
    font-size: 1.25rem;
}

    .navbar-light .navbar-nav .nav-link:hover {
        color: black;
    }

.log-link {
    padding-left: 1rem;
    padding-right: 1rem;
}

/* To override the bootstrap css - this css belongs to ApplicantCreate.cshtml.css */
.grid-container .left-col {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 1rem;
}

/* responsive design changes */
@media (min-width: 800px) {
    .navbar-expand-lg .navbar-collapse {
        display: -ms-flexbox !important;
        display: flex !important;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
    }

    .navbar-toggler {
        display: none;
    }
}
