<!--
  Author:    Nasser Mughrabi
  Partner:   None
  Date:      13-October-2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Nasser Mughrabi - This work may not be copied for use in Academic Coursework.
  I, Nasser Mughrabi, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source. Any references used in the completion of the assignment are cited in my README file.
  File Contents:
    This is an html file to contruct and structure the content of the Applications web page of the TA website
-->

@{
    ViewData["Title"] = "Home Page";
}

<section class="banner">
    <article class="banner-text">
        <h1 id="title">School of Computing</h1>
        <h2 id="title">TA and TM Application</h2>
        <h3 id="title">University of Utah</h3>
    </article>
</section>
<section class="grid-container">
    <article>
        <div class="grid-image">
            <img src="images/teach.jpg" alt="img">
        </div>
        <h2>Past Outstanding TAs!</h2>
        <ul>
            <li>2020 - Ryan Howell</li>
            <li>2019 - Scott Butler</li>
            <li>2018 - Ashlee Kurys</li>
            <li>2017 - Jake Pitkin</li>
            <li>2016 - Matthew Turner</li>
            <li>2015 - Ryan Sargent</li>
            <li>2015 - Jason Davis (in memoriam)</li>
            <li>2014 - Crystal Vivian</li>
        </ul>

    </article>
    <article>
        <div class="grid-image">
            <img src="images/difference.jpg" alt="diff">
        </div>
        <h2>Make a Difference</h2>
        <p class="make-diff-parg">
            Teaching Assistants and Mentees make a huge difference in the lives of students. Many of you are here applying to TA
            because you were inspired by a past TA. Maybe next year a student will choose to "pay it forward" because of your
            efforts.
        </p>
    </article>
    <article>
        <div class="grid-image">
            <img src="images/me.jpg" alt="diff">
        </div>
        <h2>TA of the Year - 2021</h2>
        <p class="year-ta-parg">Congratulations to Ryan Howell, the Outstanding TA for the School of Computing for the 2020-2021 academic year!</p>
    </article>
</section>
