<!--
  Author:    Nasser Mughrabi
  File Contents:
    This is an html file to contruct and structure the content of the privacy web page of the TA website
-->

@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
