<!--
  Author:    Nasser Mughrabi
  Partner:   None
  Date:      13-October-2022
  Course:    CS 4540, University of Utah, School of Computing
  Copyright: CS 4540 and Nasser Mughrabi - This work may not be copied for use in Academic Coursework.
  I, Nasser Mughrabi, certify that I wrote this code from scratch and did not copy it in part or whole from
  another source. Any references used in the completion of the assignment are cited in my README file.
  File Contents:
    This is an html file to contruct and structure the content of the Applications web page of the TA website
-->

@model IEnumerable<TAApplication.Models.Application>

@{
    ViewData["Title"] = "Index";
}
@{
    int count = 0;
    float totalGPA = 0;
    @foreach (var item in Model)
    {
        count++;
        totalGPA = totalGPA + @item.GPA;
    }
    float averageGPA = totalGPA / count;
}

<main>
    Total Applications: @count
    Average GPA: @averageGPA
    <a href="/Applications/List">All Applications</a>
</main>