<!--
  Author:    Nasser Mughrabi
  File Contents:
    This is an html file to contruct and structure the content of the Applications web page of the TA website
-->

@model IEnumerable<TAApplication.Models.Application>

@{
    ViewData["Title"] = "Index";
}
@{
    int count = 0;
    float totalGPA = 0;
    @foreach (var item in Model)
    {
        count++;
        totalGPA = totalGPA + @item.GPA;
    }
    float averageGPA = totalGPA / count;
}

<main class="banner">
    <article class="banner-text">
        <h1 id="title">Total Applications: @count</h1>
        <h2 id="title">Average GPA: @averageGPA</h2>
        <h3 id="title"><a href="/Applications/List">Applications</a></h3>
    </article>
</main>