<!--
  Author:    Nasser Mughrabi
  File Contents:
    This is an html file to contruct and structure the old application details web page of the TA website
-->

<main class="page-body">
    <h1>Application Details</h1>
    <h1 class="applicant-name">Applicant: James Lenard</h1>
    <h2 class="application-title">Application Information</h2>
    <section class="interest-courses">
        <table>
            <thead>
                <tr>
                    <td>Course</td>
                    <td>Semester</td>
                    <td>Grade</td>
                </tr>
                <tr>
                    <td>CS4540</td>
                    <td>2021</td>
                    <td>B</td>
                </tr>
                <tr>
                    <td>CS3500</td>
                    <td>2022</td>
                    <td>A-</td>
                </tr>
            </thead>
        </table>
    </section>
    <section class="application-info">
        <table>
            <thead>
                <tr>
                    <td class="left-col">Personal Pronounce</td>
                    <td class="right-col"></td>
                </tr>
                <tr>
                    <td class="left-col">Degree Being Pursued</td>
                    <td class="right-col">BS</td>
                </tr>
                <tr>
                    <td class="left-col">Department Degree</td>
                    <td class="right-col">CS</td>
                </tr>
                <tr>
                    <td class="left-col">Semesters Completed at Utah</td>
                    <td class="right-col">5</td>
                </tr>
                <tr>
                    <td class="left-col">Available The Week Before</td>
                    <td class="right-col">Yes</td>
                </tr>
                <tr>
                    <td class="left-col">Permission to View Academic Record</td>
                    <td class="right-col">Yes</td>
                </tr>
                <tr>
                    <td class="left-col">Previous Experience Teaching</td>
                    <td class="right-col">Yes</td>
                </tr>
                <tr>
                    <td class="left-col">Desired Maximum Hours</td>
                    <td class="right-col">20</td>
                </tr>
                <tr>
                    <td class="left-col">Local Address</td>
                    <td class="right-col">SLC</td>
                </tr>
                <tr>
                    <td class="left-col">UofU GPA</td>
                    <td class="right-col">3.0</td>
                </tr>
                <tr>
                    <td class="left-col">Personal Statement</td>
                    <td class="right-col">I am James</td>
                </tr>
                <tr>
                    <td class="left-col">Previous University</td>
                    <td class="right-col">N/A</td>
                </tr>
                <tr>
                    <td class="left-col">Fluency in English</td>
                    <td class="right-col">Fluent</td>
                </tr>
                <tr>
                    <td class="left-col">Linkedin URL (optional)</td>
                    <td class="right-col">https//www.linkedin.com/</td>
                </tr>
                <tr>
                    <td class="left-col">Resume</td>
                    <td class="right-col">Resume File</td>
                </tr>
            </thead>
        </table>
    </section>
</main>