/*
  Author:    Nasser Mughrabi
  File Contents:
    This is a CSS(stylesheet) file to design the look of application details html file
*/

.page-body {
    padding: 0 1rem;
}

.applicant-name {
    padding-bottom: 1rem;
}

.application-title {
    border-bottom: solid 1px black;
    padding-bottom: 0.5rem;
}

.interest-courses td {
    border: solid 1px black;
    text-align: center;
    width: 10rem;
}

.application-info .left-col {
    width: 16rem;
    height: 2rem;
}

.application-info .right-col {
    height: 2rem;
}
