/*
  Author:    Nasser Mughrabi
  File Contents:
    This is a CSS(stylesheet) file to design the look of application list html file
*/

.banner-text {
    padding-top: 5vh;
}

#banner-title {
    font-size: 3rem;
    color: white;
}

#banner-list {
    padding-top: 1vh;
    padding-left: 1rem;
}

    #banner-list .list-item {
        font-size: 1.5rem;
        color: white;
        padding-top: 1vh;
    }

#applicants-table {
    border-collapse: collapse;
    margin-top: 4vh;
    margin-left: 1vw;
    margin-bottom: 4vh;
}

    #applicants-table td {
        border: solid 1px black;
        height: 5vh;
        width: 10vw;
        text-align: center;
    }

.evals-okay {
    color: orange;
}

.evals-good {
    color: green;
}

.dept-CS {
    background-color: lightgreen;
}

.dept-not-CS {
    background-color: lightcoral;
}

.gpa-above-three {
    background-color: lightgreen;
}

.gpa-below-three {
    background-color: lightcoral;
}
