<!--
  Author:    Nasser Mughrabi
  File Contents:
    This is an html file to contruct and structure the old application create web page of the TA website
-->

<main class="grid-container">
    <form class="left-col" action="">
        <div class="titles">
            <h1 class="title">Application</h1>
            <p class="title">Please provide your information below and click save. </p>
            <h1 class="title">Create Your Application</h1>
            <p class="title">Please provide the folowing information to help us in our placement process</p>
        </div>
        <div class="input-group" id="input-group-id">
            <span class="input-group-text">
                Personal Pronounce
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        Your pronounce is optional
                    </span>
                </i>
            </span>
            <input type="text" aria-label="First name" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Degree Being Pursued
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        Your degree at the U
                    </span>
                </i>
            </span>
            <select class="form-control" name="" id="">
                <option value="BS">BS</option>
                <option value="MS">MS</option>
                <option value="PH.D">PhD</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Department Degree
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        e.g CS,Games, Math, ect.
                    </span>
                </i>
            </span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Semesters Completed at Utah
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        how many semesters spent at the U
                    </span>
                </i>
            </span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Available The Week Before?
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        Week before school starts
                    </span>
                </i>
            </span>
            <div class="radio-form">
                <input type="radio" id="week-before" name="week-before" value="Yes">
                <label for="week-before">Yes</label>
                <input type="radio" id="week-before" name="week-before" value="No">
                <label for="week-before">No</label>
            </div>
        </div>
        <div class="input-group" id="input-group-id">
            <span class="input-group-text">
                Permission to View Academic Record?
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        Can we check your performance
                    </span>
                </i>
            </span>
            <div class="radio-form">
                <input type="radio" id="permission" name="permission" value="Yes">
                <label for="permission">Yes</label>
                <input type="radio" id="permission" name="permission" value="No">
                <label for="permission">No</label>
            </div>
        </div>
        <div class="input-group">
            <div class="spans">
                <span class="input-group-text">
                    Previous Experience Teaching?
                    <i id="tooltip" class="fa-solid fa-circle-info">
                        <span class="tooltiptext">
                            Have you worked as teacher assistant before?
                        </span>
                    </i>
                </span>
            </div>
            <div class="radio-form">
                <input type="radio" id="experience" name="experience" value="Yes">
                <label for="experience">Yes</label>
                <input type="radio" id="experience" name="experience" value="No">
                <label for="experience">No</label>
            </div>
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Desired Maximum Hours
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        How many hours you planning to work at maximum
                    </span>
                </i>
            </span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Local Address
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        Active address
                    </span>
                </i>
            </span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">
                UofU GPA
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        GPA out of 4
                    </span>
                </i>
            </span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group grid-div">
            <span class="input-group-text">
                Personal Statement
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        What would you like us to know about you
                    </span>
                </i>
            </span>
            <textarea class="form-control" aria-label="With textarea"></textarea>
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Previous University
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        If no school attended before the U type N/A
                    </span>
                </i>
            </span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Fluency in English
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        English fluency is required
                    </span>
                </i>
            </span>
            <select class="form-control" name="" id="">
                <option value="Native">Native</option>
                <option value="Fluent">Fluent</option>
                <option value="Beginner">Beginner</option>
            </select>
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Linkedin URL (optional)
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        Social media link optional
                    </span>
                </i>
            </span>
            <input type="text" class="form-control">
        </div>
        <div class="input-group">
            <span class="input-group-text">
                Upload Your Resume
                <i id="tooltip" class="fa-solid fa-circle-info">
                    <span class="tooltiptext">
                        Let us see your resume
                    </span>
                </i>
            </span>
            <input type="file" class="choose-file">
        </div>
        <button type="button" class="btn btn-primary">Create</button>
    </form>
</main>