<!--
  Author:    Nasser Mughrabi
  File Contents:
    This is an html file to contruct and structure the old application list web page of the TA website
-->

<section class="banner">
    <article class="banner-text">
        <h1 id="banner-title">Applicants</h1>
        <ul id="banner-list">
            <li class="list-item">Applicants: 3</li>
            <li class="list-item">Employed TAs: 2</li>
        </ul>
    </article>
</section>
<table id="applicants-table">
    <thead>
        <tr>
            <td>Applicant Name</td>
            <td>Prior Evals?</td>
            <td>Employed In</td>
            <td>Degree Being Pursued</td>
            <td class="dept">Dept</td>
            <td>GPA</td>
            <td>Desired Hours</td>
            <td>Last Modified</td>
        </tr>
        <tr>
            <td>Nasser Mughrabi</td>
            <td class="evals-okay">Okay</td>
            <td>CS3500</td>
            <td>BS</td>
            <td class="dept-CS">CS</td>
            <td class="gpa-above-three">3.5</td>
            <td>15</td>
            <td>30-August-2022</td>
        </tr>
        <tr>
            <td>Nasser Mughrabi</td>
            <td class="evals-good">Good</td>
            <td>CS4440</td>
            <td>BS</td>
            <td class="dept-CS">CS</td>
            <td class="gpa-below-three">2.8</td>
            <td>10</td>
            <td>30-August-2022</td>
        </tr>
        <tr>
            <td>Nasser Mughrabi</td>
            <td class="evals-good">Good</td>
            <td>Unassigned</td>
            <td>Ph.D.</td>
            <td class="dept-not-CS">Math</td>
            <td class="gpa-above-three">4.0</td>
            <td>20</td>
            <td>30-August-2022</td>
        </tr>
    </thead>
</table>