<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TAApplication</title>
    <link rel="stylesheet" href="~/TAApplication.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="https://kit.fontawesome.com/730f0c115e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-red">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa-solid fa-bars-staggered"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    @if (User.IsInRole("Applicant"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ApplicantCreate">Create Application</a>
                        </li>
                    }
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="ApplicantDetails">View Application</a>
                    </li>
                    @if (User.IsInRole("Administrator"))
                    {
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Admin" asp-action="Roles">Role Selector</a>
                        </li>
                    }
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Applications
                        </a>
                        <ul class="dropdown-menu">
                            @if (User.IsInRole("Applicant"))
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ApplicantCreate">Application Form</a>
                                </li>
                            }
                            <li>
                                <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ApplicantDetails">Application Details</a>
                            </li>
                            @if (User.IsInRole("Administrator"))
                            {
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Home" asp-action="ApplicantList">Student Applications</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="" asp-controller="Admin" asp-action="Roles">Role Selector</a>
                                </li>
                            }
                        </ul>
                    </li>
                </ul>
            </div>
            <partial name="_LoginPartial" />
        </nav>
    </header>

    @RenderBody()

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - TAApplication - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @await RenderSectionAsync("Styles", required:false)
</body>
</html>
